<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!-- Restaurant Dao -->
    <bean name="defaultRestaurantDao" class="com.sap.pickme.daos.impl.DefaultRestaurantDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <alias name="defaultRestaurantDao" alias="restaurantDao"/>

    <!-- Restaurant Service -->
    <bean name="defaultRestaurantService" class="com.sap.pickme.services.impl.DefaultRestaurantService">
    </bean>
    <alias name="defaultRestaurantService" alias="restaurantService"/>

    <!-- User Dao -->
    <bean name="defaultUserDao" class="com.sap.pickme.daos.impl.DefaultUserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <alias name="defaultUserDao" alias="userDao"/>

    <!-- User Service -->
    <bean name="defaultUserService" class="com.sap.pickme.services.impl.DefaultUserService"/>
    <alias name="defaultUserService" alias="userService"/>

    <!-- Vote Service -->
    <bean name="defaultVoteService" class="com.sap.pickme.services.impl.DefaultVoteService"/>
    <alias name="defaultVoteService" alias="voteService"/>

    <!-- Vote Dao -->
    <bean name="defaultVoteDao" class="com.sap.pickme.daos.impl.DefaultVoteDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <alias name="defaultVoteDao" alias="voteDao"/>


</beans>