/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: auto}

/* Set gray background color and 100% height */
.sidenav {
    height: auto;
    background-color: #d2d2d2;
}
.bg-inverse {
    background-color: #2f2f2f!important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: 100%;
        padding: 15px;
    }
    .row.content {height:auto}
}

html,
body {
    background-color: #fcfcfc;
}
body {
    color: #000000;
    text-shadow: 0 .05rem .1rem rgba(32, 32, 32, 0.5);
}
.map {
    height: 100%;
    width: 100%;
}
.card {
    padding-left: 0px;
    padding-right: 0px;
}
.card-block {
    background-color: #ebecff;
}
.card-footer {
    background-color: #bdbdec;
}
.card-header {
    min-height: 200px;
    max-height: 200px;
}
.col-sm-4 {
    min-width: 32%;
    max-width: 32%;
    min-height: 40%;
}
.card-deck .card:not(:last-child) {
    margin-right: 15px;
}
.card-deck .card:not(:first-child) {
    margin-left: 0px;
}
.card-deck .card {
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
